<!-- this is the main page for APIYouTube -->

<div class="title">
  <!-- this is the title div containing the title, search bar & search button -->
  <label class="titlecolor"><b>API</b></label><label class="titlecolor2"><b>YouTube</b></label>
  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="" #channelName type="text" placeholder="Youtube Channel" required> 
  <button class="" (click)="getData()">Search</button>
  <br><br>
</div>

<br>
<label class="tengah"><h1>Recommended Channels For You</h1></label>
<br><br>

<div class="grid">
  <!-- this is the grid where channels from youtube are fetched from youtube.com using api -->
  <!-- items are displayed in grids using ngfor loop -->
  <ul *ngFor="let channel of channels">
    <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
      <img class="img-thumbnail" width="400" height="100" src="{{channel.snippet.thumbnails.medium.url}}" />
    </a>
    <br>
   <label class="cName"><h3> {{channel.snippet.channelTitle}} </h3></label>
   <br><br>
  </ul>
</div>



<!-- <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css"> -->
